@media screen and (min-width: 960px) {
  .menu {
    display: none;
  }

  .navigation {
    max-width: 580px;
    width: 100%;
  }
  .navigation__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }

  }


  /* @TODO
  1. Mein section will change on 700 px and after 960 decrease font-size 
  
  
  
  */

@media screen and (max-width: 960px) {
  
  .main-content {
    background: none;
  }

  .main-content__subtitle_up h4{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #737373;
  }

  .main-content__title h1 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #252B42;
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

  .main-content__title span h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }

  .main-content__btn {
    max-width: 236px;
    height: 153px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn--outlined {
    margin: 17px;
    border: 1px solid #FA4A0C;
    padding: 16px 0px;
    color: #FA4A0C;
  }
  
  .highlight__title h3 {
    position: absolute;
    width: 242px;
    height: 36px;
    top: 1267px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
    text-align: center;
  }

  .desktop-text-breakpoint {
    display: inline;
  }


  .create-login__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .create-login__img {
    margin: 0 auto;
  }
  
  .create-login__text {
    max-width: 568px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

.explore_varieties__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .explore_varieties__img {
    margin: 0 auto;
  }
  
  .explore_varieties__text {
    max-width: 568px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .checkout__content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .checkout__img {
    margin: 0 auto;
  }
  
  .checkout__text {
    max-width: 568px;
    width: 100%;
    height: 280px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

.download-the-app__content {
  background: #252B42;
}

.download-the-app__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.download-the-app__btn {
  max-width: 339px;
  width: 100%;
  height: 64px;
  justify-content: space-between;
}


.download-the-app__btn .btn--outlined {
  margin: 0px;
}

.footer__content {
  margin: 0px;
}



}
  