@media screen and (min-width: 960px) {
  .menu {
    display: none;
  }

  .navigation {
    max-width: 580px;
    width: 100%;
  }
  .navigation__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }
}
